{% extends "base.html" %}
{% block title %}Coronavirus Data Analysis{% endblock %}
{% block content %}
<div class="container">
    <form action="../sixteenthItemAnalysis" class="row g-3" method="POST">
        {% include 'formBase.html'%}
        <div class="col-md-4">
            <label for="columnaRegion" class="form-label">Region</label>
            <select id="columnaRegion" name="columnaRegion" class="form-select">
                {% for columna in columns %}
                <option value={{columna}}>{{columna}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6">
            <label for="nombreRegion" class="form-label">Nombre de Region</label>
            <input type="text" class="form-control" id="nombreRegion" name="nombreRegion" placeholder="Afganistan">
        </div>
        <div class="col-md-6">
            <label for="columnaInfectados" class="form-label">Infectados</label>
            <select id="columnaInfectados" name="columnaInfectados" class="form-select">
                {% for columna in columns %}
                <option value={{columna}}>{{columna}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6">
            <label for="columnaMuertes" class="form-label">Muertes</label>
            <select id="columnaMuertes" name="columnaMuertes" class="form-select">
                {% for columna in columns %}
                <option value={{columna}}>{{columna}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Calcular</button>
        </div>
    </form>
</div>
{% endblock %}