{% extends "base.html" %}
{% block title %}Coronavirus Data Analysis{% endblock %}
{% block content %}
<div class="container">
    <form action="" class="row g-3">
        <div class="col-12">
            <label for="columnaDias" class="form-label">Dias</label>
            <select id="columnaDias" class="form-select">
                <option selected>Columna para dias</option>
                {% for columna in columns %}
                <option value={{columna}}>{{columna}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6">
            <label for="columnaInfectadosAcumulados" class="form-label">Infectados Acumulados</label>
            <select id="columnaInfectadosAcumulados" class="form-select">
                <option selected>Columna para infectados acumulados</option>
                {% for columna in columns %}
                <option value={{columna}}>{{columna}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6">
            <label for="columnaInfectadosDiarios" class="form-label">Infectados Diarios</label>
            <select id="columnaInfectadosDiarios" class="form-select">
                <option selected>Columna para infectados diarios</option>
                {% for columna in columns %}
                <option value={{columna}}>{{columna}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6">
            <label for="columnaMuertes" class="form-label">Muertes</label>
            <select id="columnaMuertes" class="form-select">
                <option selected>Columna para muertes</option>
                {% for columna in columns %}
                <option value={{columna}}>{{columna}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6">
            <label for="inputPrediccion" class="form-label">Dia a predecir</label>
            <input type="date" class="form-control" id="inputPrediccion" value={{ today }}>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Calcular</button>
        </div>
    </form>
</div>
{% endblock %}