{% extends "base.html" %}
{% block title %}Coronavirus Data Analysis{% endblock %}
{% block content %}
<div class="container">
    <form action="../fifteenthItemAnalysis" class="row g-3" method="POST">
        {% include 'formBase.html'%}
        <div class="col-md-6">
            <label for="columnaDepartamento" class="form-label">Departamento</label>
            <select id="columnaDepartamento" name="columnaDepartamento" class="form-select">
                {% for columna in columns %}
                <option value={{columna}}>{{columna}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6">
            <label for="nombreDepartamento" class="form-label">Nombre del Departamento</label>
            <input type="text" class="form-control" id="nombreDepartamento" name="nombreDepartamento" placeholder="Alta Verapaz">
        </div>
        <div class="col-md-6">
            <label for="columnaCasos" class="form-label">Casos</label>
            <select id="columnaCasos" name="columnaCasos" class="form-select">
                {% for columna in columns %}
                <option value={{columna}}>{{columna}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Calcular</button>
        </div>
    </form>
</div>
{% endblock %}