<div class="col-12">
    <label for="columnaDias" class="form-label">Dias</label>
    <select id="columnaDias" name="columnaDias" class="form-select">
        {% for columna in columns %}
        <option value={{columna}}>{{columna}}</option>
        {% endfor %}
    </select>
</div>
<div class="col-md-6">
    <label for="columnaContinente" class="form-label">Continente</label>
    <select id="columnaContinente" class="form-select" name="columnaContinente">
        {% for columna in columns %}
        <option value={{columna}}>{{columna}}</option>
        {% endfor %}
    </select>
</div>
<div class="col-md-6">
    <label for="nombreContinente" class="form-label">Nombre del Continente</label>
    <input type="text" class="form-control" id="nombreContinente" name="nombreContinente" placeholder="Asia">
</div>
<div class="col-md-6">
    <label for="columnaPais" class="form-label">Pais</label>
    <select id="columnaPais" name="columnaPais" class="form-select">
        {% for columna in columns %}
        <option value={{columna}}>{{columna}}</option>
        {% endfor %}
    </select>
</div>
<div class="col-md-6">
    <label for="nombrePais" class="form-label">Nombre del Pais</label>
    <input type="text" class="form-control" id="nombrePais" name="nombrePais" placeholder="Afganistan">
</div>
