{% extends "base.html" %}
{% block title %}Coronavirus Data Analysis{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="d-flex justify-content-center mt-5">
        <form action="loadData" class="row g-3" method="post" enctype="multipart/form-data">
            <input type="file" id="upload" name="upload" accept="JSON/json, CSV/csv, EXCEL/xls, EXCEL/xlsx">
            <input type="submit" value="Load File">
        </form>
    </div>
    <form action="preLoadData" class="row g-3" method="post" enctype="multipart/form-data">
        <input type="submit" value="Use preload (owid-covid-data) File">
    </form>
</div>
{% endblock %}