<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Coronavirus Data Analysis</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Analisis
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for analisis in analysis %}
                        <a class="dropdown-item" href="{{ url_for(analysis[analisis]) }}">{{ analisis }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Muertes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for muerte in deaths %}
                        <a class="dropdown-item" href="{{ url_for(deaths[muerte]) }}">{{ muerte }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Otros
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for otro in others %}
                        <a class="dropdown-item" href="{{ url_for(others[otro]) }}">{{ otro }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Porcentajes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for porcentaje in percentages %}
                        <a class="dropdown-item" href="{{ url_for(percentages[porcentaje]) }}">{{ porcentaje }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Predicciones
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for prediccion in predictions %}
                        <a class="dropdown-item" href="{{ url_for(predictions[prediccion]) }}">{{ prediccion }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tasas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for tasa in rates %}
                        <a class="dropdown-item" href="{{ url_for(rates[tasa]) }}">{{ tasa }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tendencias
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for tendencia in trends %}
                        <a class="dropdown-item" href="{{ url_for(trends[tendencia]) }}">{{ tendencia }}</a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>