{% extends "base.html" %}
{% block title %}Coronavirus Data Analysis{% endblock %}
{% block content %}
<div class="container-fluid row g-3">
    <div class="col-md-6">
        <p>
            {{ analysisResult['conclution']['leftColumn'].replace(' 00:00:00', '').replace('[','').replace(']', '') }}
        </p>
    </div>
    <div class="col-md-6">
        <p>
            {{ analysisResult['conclution']['rightColumn'].replace(' 00:00:00', '').replace('[','').replace(']', '') }}
        </p>
    </div>
     <div class="col-md-6" id="reportPage">
        <canvas id="lineChart" width="600" height="350"></canvas>
    </div>
    <button onclick="saveAsPDF();" class="btn btn-secondary">Guardar como PDF</button>
</div>
<script>
    var ctx = document.getElementById("lineChart").getContext("2d");
    var analysisResult = {{ analysisResult| tojson }}
    var label = analysisResult['labels']
    var setValue = analysisResult['setValues']
    var predictedValue = analysisResult['predictedValues']
    var graphName = analysisResult['graphName']
    var author = analysisResult['conclution']['header']
    var leftColumn = analysisResult['conclution']['leftColumn']
    var rightColumn = analysisResult['conclution']['rightColumn']
    var lineChart = new Chart(ctx, {
        type: "line",
        data: {
            labels: label,
            datasets: [
                {
                    label: 'Real Value',
                    data: setValue,
                    borderColor: "",
                    showLine: false
                }, {
                    label: 'Predicted Value',
                    data: predictedValue,
                    borderColor: "rgb(32, 150, 80)",
                    lineTension: 0.6
                }
            ]
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: graphName
                }
            },
            responsive: false
        }
    });

    function saveAsPDF() {
        html2canvas(document.getElementById("reportPage"), {
            onrendered: function (canvas) {
                var img = canvas.toDataURL();
                var doc = new jsPDF();
                graphName = doc.splitTextToSize(graphName, 110)
                doc.setFontSize(20);
                doc.text(graphName, 17, 15);
                doc.setFontSize(11);
                doc.text(author[0], 77, 33);
                doc.setFont('times', 'italic')
                doc.text(author[1], 83, 38)
                doc.text(author[2], 69, 43)
                doc.setFont('times', 'normal')
                doc.text(author[3], 83, 48)
                doc.text(author[4], 80, 53)
                doc.setFontSize(13)
                doc.setFont('times', 'normal')
                doc.text('I. Resultados', 41, 66)
                doc.setFont('times', 'normal')
                leftColumn = leftColumn.replaceAll(' 00:00:00', '').replaceAll('[','').replaceAll(']', '')
                leftColumn = doc.splitTextToSize(leftColumn, 88)
                doc.text(leftColumn, 17, 72)
                doc.text('II. Procedimiento', 129, 66)
                doc.setFont('times', 'normal')
                rightColumn = rightColumn.replaceAll(' 00:00:00', '').replaceAll('[','').replaceAll(']', '')
                rightColumn = doc.splitTextToSize(rightColumn, 88)
                doc.text(rightColumn, 109, 72)
                doc.addImage(img, 25, 155);
                doc.save('report.pdf');
            }
        });
    }
</script>
{% endblock %}