{% extends "base.html" %}
{% block title %}Coronavirus Data Analysis{% endblock %}
{% block content %}
<div class="container">
    <form action="" class="row g-3">
        {% include 'formBase.html'%}
        <div class="col-md-6">
            <label for="columnaDepartamento" class="form-label">Departamento</label>
            <select id="columnaDepartamento" name="columnaDepartamento" class="form-select">
                {% for columna in columns %}
                <option value={{columna}}>{{columna}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6">
            <label for="nombreDepartamento" class="form-label">Nombre del Departamento</label>
            <input type="text" class="form-control" id="nombreDepartamento" name="nombreDepartamento" placeholder="">
        </div>
        <div class="col-md-6">
            <label for="columnaMunicipio" class="form-label">Municipio</label>
            <select id="columnaMunicipio" name="columnaMunicipio" class="form-select">
                {% for columna in columns %}
                <option value={{columna}}>{{columna}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6">
            <label for="nombreMunicipio" class="form-label">Nombre del Municipio</label>
            <input type="text" class="form-control" id="nombreMunicipio" name="nombreMunicipio" placeholder="">
        </div>
        <div class="col-md-6">
            <label for="columnaComportamiento" class="form-label">Comportamiento</label>
            <select id="columnaComportamiento" name="columnaComportamiento" class="form-select">
                {% for columna in columns %}
                <option value={{columna}}>{{columna}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6">
            <label for="columnaClasificacion" class="form-label">Clasificacion</label>
            <select id="columnaClasificacion" name="columnaClasificacion" class="form-select">
                {% for columna in columns %}
                <option value={{columna}}>{{columna}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6">
            <label for="columnaInfectados" class="form-label">Infectados</label>
            <select id="columnaInfectados" name="columnaInfectados" class="form-select">
                {% for columna in columns %}
                <option value={{columna}}>{{columna}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6">
            <label for="inputPrediccion" class="form-label">Dia a predecir</label>
            <input type="date" class="form-control" id="inputPrediccion" name="inputPrediccion" value={{ today }}>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Calcular</button>
        </div>
    </form>
</div>
{% endblock %}