{% extends "base.html" %}
{% block title %}Coronavirus Data Analysis{% endblock %}
{% block content %}
<div class="container">
    <form action="" class="row g-3">
        {% include 'formBase.html'%}
        <div class="col-md-6">
            <label for="columnaInfectados" class="form-label">Infectados</label>
            <select id="columnaInfectados" class="form-select">
                {% for columna in columns %}
                <option value={{columna}}>{{columna}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6">
            <label for="columnaPruebas" class="form-label">Pruebas</label>
            <select id="columnaPruebas" class="form-select">
                {% for columna in columns %}
                <option value={{columna}}>{{columna}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-12">
            <label for="inputPrediccion" class="form-label">Dia a predecir</label>
            <input type="date" class="form-control" id="inputPrediccion" value={{ today }}>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Calcular</button>
        </div>
    </form>
</div>
{% endblock %}