{% extends "base.html" %}
{% block title %}Coronavirus Data Analysis{% endblock %}
{% block content %}
<div class="container">
    <form action="../twentyThirdItemAnalysis" class="row g-3" method="POST">
        {% include 'formBase.html'%}
        <div class="col-md-6">
            <label for="columnaFactor" class="form-label">Muertes por Factor</label>
            <select id="columnaFactor" name="columnaFactor" class="form-select">
                {% for columna in columns %}
                <option value={{columna}}>{{columna}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Calcular</button>
        </div>
    </form>
</div>
{% endblock %}